.form{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    margin-top: 2.5rem;

    &__input{
        width: 49%;
        margin-bottom: 1.3rem;
        padding: .6rem 1.7rem;

        font-family: Open Sans;
        font-size: 1.6rem;
        line-height: 2.7rem;
        color: $color;

        background-color: transparent;
        border: 1px solid #DFDFDF;
        border-radius: 2rem;

        &::placeholder{
            color: #A1A1A1;
        }
    }

    &__textarea{
        width: 100%;
        margin-bottom: 2rem;
        padding: 1.4rem 1.7rem;
        min-height: 12.5rem;
        resize: none;

        font-family: Open Sans;
        font-size: 1.6rem;
        line-height: 2.7rem;
        color: $color;

        background-color: transparent;
        border: 1px solid #DFDFDF;
        border-radius: 2rem;

        &::placeholder{
            color: #A1A1A1;
            font-family: inherit;
            font-size: 1.6rem;
            line-height: 2.8rem;
        }
    }

    &__checkbox{
        width: 100%;
        line-height: 2.8rem;
        color: #A1A1A1;
        margin-bottom: 2rem;
    }

    &__btn{
        border: none;
        border-radius: 2rem;
        background-color: $title-color;
        color: #FFFFF0;

        font-weight: 600;
        padding: .6rem 6rem;
    }
}