.header {
    width: 100%;
}

.header__inner {
    display: flex;
    height: 12rem;
    margin-right: 12.5rem;
    justify-content: space-between;
    align-items: center;
    @include breakpoint($mobile-bp){
        justify-content: center;
    }
}
