<footer class="footer">
    <div class="container">
        <div class="footer__inner">
            <div class="footer__info">
                <h4 class="footer__info-title">
                    Contact Us
                </h4>
                <p class="footer__info-text">
                    Keffiyeh poutine etsy, paleo cray put a bird on it microdosing schlitz you probably occupy
                </p>
                <a href="mailto:ouremailaddress@email.com" class="footer__info-mail">
                    <i class="far fa-envelope"></i>ouremailaddress@email.com
                </a>
                <form class="footer__form">
                    <input class="footer__form-input" type="email" placeholder="Subscribe by email">
                    <button class="footer__form-button" type="submit">Send</button>
                </form>
            </div>
            <ul class="footer__social-items">
                <li class="footer__social-item">
                    <a href="#" class="footer__social-link">
                        <i class="fab fa-facebook"></i>Facebook
                    </a>
                </li>
                <li class="footer__social-item">
                    <a href="#" class="footer__social-link">
                        <i class="fab fa-instagram"></i>Instagram
                    </a>
                </li>
                <li class="footer__social-item">
                    <a href="#" class="footer__social-link">
                        <i class="fab fa-pinterest"></i>Pinterest
                    </a>
                </li>
                <li class="footer__social-item">
                    <a href="#" class="footer__social-link">
                        <i class="fab fa-whatsapp"></i>WhatsApp
                    </a>
                </li>
                <li class="footer__social-item">
                    <a href="#" class="footer__social-link">
                        <i class="fab fa-youtube"></i>Youtube
                    </a>
                </li>
            </ul>

            <ul class="footer__menu">
                <li class="footer__menu-item">
                    <a href="#" class="footer__menu-link">
                        Delivery
                    </a>
                </li>
                <li class="footer__menu-item">
                    <a href="#" class="footer__menu-link">
                        FAQ
                    </a>
                </li>
                <li class="footer__menu-item">
                    <a href="#" class="footer__menu-link">
                        Help
                    </a>
                </li>
                <li class="footer__menu-item">
                    <a href="#" class="footer__menu-link">
                        More About Us
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="footer__copyright">
        674 Gonzales Drive.   Washington, PA 15301
    </div>
</footer>
